/imagens/*
/prompts/*
go.sum
/exemplos/*
.vscode/*
.vscode/launch.json
aws-table/terraform.tfstate
aws-table/terraform.tfstate.backup
aws-table/.terraform
aws-table/.terraform/providers/registry.terraform.io/datadog/datadog/3.44.1/windows_amd64/terraform-provider-datadog_v3.44.1.exe
aws-table/.terraform/providers/registry.terraform.io/hashicorp/aws/5.68.0/windows_386/LICENSE.txt
aws-table/.terraform/providers/registry.terraform.io/hashicorp/aws/5.68.0/windows_386/terraform-provider-aws_v5.68.0_x5.exe
aws-table/.terraform/providers/registry.terraform.io/hashicorp/aws/5.68.0/windows_amd64/LICENSE.txt
aws-table/.terraform/providers/registry.terraform.io/hashicorp/aws/5.68.0/windows_amd64/terraform-provider-aws_v5.68.0_x5.exe
aws-table/.terraform/providers/registry.terraform.io/hashicorp/aws/5.72.1/windows_386/LICENSE.txt
aws-table/.terraform/providers/registry.terraform.io/hashicorp/aws/5.72.1/windows_386/terraform-provider-aws_v5.72.1_x5.exe
aws-table/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.2/windows_386/LICENSE.txt
aws-table/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.2/windows_386/terraform-provider-local_v2.5.2_x5.exe
